.body{
  background-color: #FFEBEE;
}

.general{
  background-color: #C8E6C9;
  margin-left:23%;
  margin-right:23%;
  padding:2%;
  border-radius:0px 0px 50px 50px;
}

.general h1{
  text-align:center;
  color: #769977;
  margin:3%;
}

.general h5{
  text-align:center;
  margin:0.5%
}

.general h6{
  color: #769977;
}

.general a{
  color: #769977;
}

.general a:hover{
  color: #0D47A1;
}




.questionReponse{
  background-color: #FFCDD2;
  margin:5%;
  padding:5%;
  border: 4px solid #769977;
  border-radius: 25px
}

.questionReponse h4{
  color: #0D47A1;
  text-align:center;
  padding-bottom:5%;
}

.questionReponse a{
  color: #0D47A1;
  text-align: center;
}

.questionReponse a:hover{
  color: #769977;
}

.ouiNon {
  column-count: 2;
  text-align:center;

}

.ouno {
  text-align: center;
  border: 5px solid #769977;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  padding:1%;
  background-color: #C8E6C9;
  margin-left: 40%;
}

.ouno:hover {
  text-align: center;
  border: 5px solid #769977;
  border-radius: 100%;
  width: 3.5em;
  height: 3.5em;
  padding:2%;
  background-color: #FFCDD2;
  margin-left: 40%;
}

.revenir {
  text-align: center;
}

.troisChoix {
  column-count: 3;
  text-align:center;
}

.phyme {
  text-align: center;
  border: 5px solid #769977;
  border-radius: 100%;
  width: 6em;
  height: 3em;
  padding:1%;
  background-color: #C8E6C9;
  margin-left: 25%;
}

.phyme:hover {
  text-align: center;
  border: 5px solid #769977;
  border-radius: 100%;
  width: 6.5em;
  height: 3.5em;
  padding:1%;
  background-color: #FFCDD2;
  margin-left: 25%;
  margin-bottom: 10%;
}

.resultatimg img{
  float:left;
  margin: 2%;
}

.fede {
  text-align: center;
}

.fede img:hover{
  width: 25%;
  height: 25%;
}

.bouton{
  margin:2%;
  border-radius: 20px;
}

.bouton:hover{
  color:#FFFFFF;
}
